html {
    line-height: 1.5;
    -webkit-text-size-adjust: 100%;
    font-family: system-ui,sans-serif;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    touch-action: manipulation;
    background: #020c17
}
body {
    font-family: Nunito,sans-serif;
    color: var(--chakra-colors-chakra-body-text);
    transition-property: background-color;
    transition-duration: var(--chakra-transition-duration-normal);
    line-height: var(--chakra-lineHeights-base);
    position: relative;
    min-height: 100%;
    margin: 0;
    overflow-x: hidden;
    overflow-y: auto;
    background: #020c17
}

*::-webkit-input-placeholder {
    color: var(--chakra-colors-chakra-placeholder-color);
}

*::-moz-placeholder {
    color: var(--chakra-colors-chakra-placeholder-color);
}

*:-ms-input-placeholder {
    color: var(--chakra-colors-chakra-placeholder-color);
}

*::placeholder {
    color: var(--chakra-colors-chakra-placeholder-color);
}

*,*::before,::after {
    border-color: var(--chakra-colors-chakra-border-color);
}
:where(*, *::before, *::after) {
    border-width: 0;
    border-style: solid;
    box-sizing: border-box;
    word-wrap: break-word;
}

main {
    display: block;
}

hr {
    border-top-width: 1px;
    box-sizing: content-box;
    height: 0;
    overflow: visible;
}

:where(pre, code, kbd,samp) {
    font-family: SFMono-Regular,Menlo,Monaco,Consolas,monospace;
    font-size: 1em;
}

a {
    background-color: transparent;
    color: inherit;
    -webkit-text-decoration: inherit;
    text-decoration: inherit;
}

abbr[title] {
    border-bottom: none;
    -webkit-text-decoration: underline;
    text-decoration: underline;
    -webkit-text-decoration: underline dotted;
    -webkit-text-decoration: underline dotted;
    text-decoration: underline dotted;
}

:where(b, strong) {
    font-weight: bold;
}

small {
    font-size: 80%;
}

:where(sub,sup) {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sub {
    bottom: -0.25em;
}

sup {
    top: -0.5em;
}

img {
    border-style: none;
}

:where(button, input, optgroup, select, textarea) {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
}

:where(button, input) {
    overflow: visible;
}

:where(button, select) {
    text-transform: none;
}

:where( button::-moz-focus-inner, [type="button"]::-moz-focus-inner, [type="reset"]::-moz-focus-inner, [type="submit"]::-moz-focus-inner ) {
    border-style: none;
    padding: 0;
}

fieldset {
    padding: 0.35em 0.75em 0.625em;
}

legend {
    box-sizing: border-box;
    color: inherit;
    display: table;
    max-width: 100%;
    padding: 0;
    white-space: normal;
}

progress {
    vertical-align: baseline;
}

textarea {
    overflow: auto;
}

:where([type="checkbox"], [type="radio"]) {
    box-sizing: border-box;
    padding: 0;
}

:where( [type="number"]::-webkit-inner-spin-button, [type="number"]::-webkit-outer-spin-button ) {
    -webkit-appearance: none!important;
}

input[type="number"] {
    -moz-appearance: textfield;
}

[type="search"] {
    -webkit-appearance: textfield;
    outline-offset: -2px;
}

[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none!important;
}

::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit;
}

details {
    display: block;
}

summary {
    display: -webkit-box;
    display: -webkit-list-item;
    display: -ms-list-itembox;
    display: list-item;
}

template {
    display: none;
}

[hidden] {
    display: none!important;
}

:where( blockquote, dl, dd, h1, h2, h3, h4, h5, h6, hr, figure, p, pre ) {
    margin: 0;
}

button {
    background: transparent;
    padding: 0;
}

fieldset {
    margin: 0;
    padding: 0;
}

:where(ol, ul) {
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

:where(button, [role="button"]) {
    cursor: pointer;
}

button::-moz-focus-inner {
    border: 0!important;
}

table {
    border-collapse: collapse;
}

:where(h1, h2, h3, h4, h5, h6) {
    font-size: inherit;
    font-weight: inherit;
}

:where(button, input, optgroup, select, textarea) {
    padding: 0;
    line-height: inherit;
    color: inherit;
}

:where(img, svg, video, canvas, audio, iframe, embed, object) {
    display: block;
}

:where(img, video) {
    max-width: 100%;
    height: auto;
}

[data-js-focus-visible] :focus:not([data-focus-visible-added]):not( [data-focus-visible-disabled] ) {
    outline: none;
    box-shadow: none;
}

select::-ms-expand {
    display: none;
}

:root,:host {
    --chakra-vh: 100vh;
}

@supports (height: -webkit-fill-available) {
    :root,:host {
        --chakra-vh:-webkit-fill-available;
    }
}

@supports (height: -moz-fill-available) {
    :root,:host {
        --chakra-vh:-moz-fill-available;
    }
}

@supports (height: 100dvh) {
    :root,:host {
        --chakra-vh:100dvh;
    }
}
.chakra-ui-transform{
    &.aos-animate{
        transform: translateY(-85px) translateZ(0px) !important; 
    }
}
.chakra-stack-rotate{
    transform: translateX(-150px) rotate(-15deg) translateZ(0px);
}
.chakra-stack-rotates{
    &.aos-animate{
        transform: scale(1) rotate(4deg) translateZ(0px) !important; 
    }
}
.carousel-swiper, .pagination-slider {
    padding-bottom: 50px !important;
  }
  
  .carousel-swiper .swiper-pagination-bullet {
    background-color: #000 !important;
  }
  
  .pagination-slider .swiper-pagination-bullet {
    background-color: #000 !important;
  }
  
  .card-swiper {
    width: 600px;
    max-width: 90%;
  
    .swiper-slide {
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 4px;
      overflow: unset !important;
  
      img {
        transform: rotate(3deg);
        width: 600px;
        height: 400px;
        max-width: 90%;
        max-height: 98vw;
        object-fit: cover;
      }
    }
  }
  
  .swiper-slide-shadow {
    transform: rotate(3deg);
    width: 600px;
    height: 400px;
    max-width: 90%;
    max-height: 98vw;
    object-fit: cover;
  }
  
  .card-swiper {
    padding-bottom: 50px !important;
  
    .swiper-pagination-bullet {
      background-color: #ddd !important;
    }
  }
  
  .cube-swiper {
    margin: 0 auto;
    width: 600px;
    height: 600px;
    max-width: 100%;
    max-height: 98vw;
    padding-bottom: 50px !important;
  
    .swiper-pagination-bullet {
      background-color: #ddd !important;
    }
  
    .swiper-slide {
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 22px;
      font-weight: 700;
      color: #fff;
    }
  }
  
  @keyframes te-color-animation {
    to {
      background-position: -200%;
    }
  }
  
  .gradient-animation {
    background: linear-gradient(-225deg, #5332cd, #964ae8 29%, #ff1361 67%, #fff800);
    background-size: 200% auto;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: te-color-animation 1.5s linear infinite;
  }
  